node_modules
.next
out
dist
build
.run/
.env
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.err
*.tsbuildinfo
data/
.DS_Store
Thumbs.db
public/uploads/
public/products/*.jpg
